{% extends 'torrents/base.html' %}
{% load staticfiles %}

{% block title %}Active Torrents{% endblock %}

{% block extra-head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/vendor/dataTables.jqueryui.min.css" %}" media="screen" />
    <script type="text/javascript" src="{% static "js/vendor/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/dataTables.jqueryui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tables.js" %}">
    </script>
{% endblock %}

{% block body %}
    <h2 class="page-description">This is the page of the active torrents.</h2>
    <table class="torrent-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ratio</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}
