{% extends 'shows/base.html' %}

{% block title %}Add a show{% endblock %}

{% block body %}
    {% if result %}
        {{ series }} was added successfully!
        You can <a href="{% url "shows:add_series" %}">add another series</a>.
    {% else %}
        Unfortunately, {{ series }} was not added.
        Go <a href="{% url "shows:add_series" %}">here</a> to retry.
    {% endif %}
{%  endblock %}
