{% extends 'shows/base.html' %}

{% block title %}Add a show{% endblock %}

{% block body %}
    <h2 class="page-description">Add a new show.</h2>
    <form action="{% url "shows:add_series" %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}
