{% extends 'shows/base.html' %}

{% block title %}Add a show{% endblock %}

{% block body %}
    <h2 class="page-description">Select a show to add.</h2>
    <form action="{% url "shows:respond_to_selected_series" %}">
        {% for candidate in candidates %}
            <input class="series-radio-item" type="radio" name="series" value="{{ candidate.name }},{{ candidate.imdb_id }},{{ candidate.tvdb_id }}">
                <img class="series-thumbnail" src="{{ candidate.img }}" alt="HTML5 Icon">
                <a href="{{ candidate.link }}">{{ candidate.name }}</a>
                ({{ candidate.year }})
                <br>
        {% endfor %}
    <input class="submit-button" type="submit" value="add">
    </form>

{% endblock %}
