.series-radio-item {
  margin-bottom: 17px;
}

.series-thumbnail {
  width: 32px;
  height: 44px;
  margin-bottom: -2px;
  margin-right: 7px;
}

.submit-button {
   background-color: cornflowerblue;
}
