.page-description {
  color: cadetblue;
  text-align: center;
}
.torrent-table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;

  th {
    background-color: lightgray;
    text-align: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border: 1px solid black;
  }

  td {
    text-align: left;
    padding: 0.6rem;
    border: 1px solid black;
  }

  .numeric {
    text-align: right;
  }

  tr:nth-child(even){background-color: lightcyan}
  tr:hover {background-color: lightcoral}
}
