<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}dj-trans{% endblock %}</title>
    {% block extra-head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
